<div class="container" style="margin-top: 20px;">
    <p-table [value]="airlineList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Airline</th>
                <th>Logo</th>
                <th>Contact Number</th>
                <th>Contact Address</th>
                <th>IsBlocked</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-airline>
            <tr [ngClass]="{'inActive': airline.isActive == false}">
                <td>{{airline.airlineName}}</td>
                <td>{{airline.airlineLogo}}</td>
                <td>{{airline.contactNumber}}</td>
                <td>{{airline.contactAddress}}</td>
                <td>{{airline.isBlocked}}</td>
                <td>
                    <a pButton pRipple type="button" [routerLink]="['/update-airline',airline.airlineID]" icon="pi pi-user-edit"
                        class="p-button-rounded"></a>
                    <a pButton pRipple type="button" (click)="remove(airline.airlineID)" style="margin-left: 5px;"
                        icon="pi pi-trash" class="p-button-rounded"></a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/add-airline']" class="btn btn-primary">Add New</a>
        </ng-template>
    </p-table>
</div>