<div class="container" style="margin-top: 20px;">
    <h5>Manage Schedule</h5>
    <p-table [value]="scheduleList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Airline</th>
                <th>Flight Number</th>
                <th>Flight Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-airline>
            <tr [ngClass]="{'inActive': airline.isActive == false}">
                <td>{{airline.airlineID}}</td>
                <td>{{airline.flightNumber}}</td>
                <td>{{airline.flightName}}</td>
                <td>{{airline.startTime  | date:"shortTime"}}</td>
                <td>{{airline.endTime | date:"shortTime"}}</td>
                <td>
                    <!-- <a pButton pRipple type="button" [routerLink]="['/update-airline',airline.airlineID]" icon="pi pi-user-edit"
                        class="p-button-rounded"></a> -->
                    <a pButton pRipple type="button" (click)="remove(airline.airlineScheduleID)" style="margin-left: 5px;"
                        icon="pi pi-trash" class="p-button-rounded"></a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/add-schedule']" class="btn btn-primary">Add New</a>
        </ng-template>
    </p-table>
</div>
<p-toast></p-toast>